name: "Deploy App"

on:
  push:
    branches:
      - master

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Build Frontend
        working-directory: frontend
        run: |
          npm install
          npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: frontend/dist/

  build-backend:
    runs-on: ubuntu-latest
    needs: build-frontend
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: frontend-build
          path: backend/src/main/resources/static

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Build with maven
        run: mvn -B package --file backend/pom.xml

      - name: upload jar
        uses: actions/upload-artifact@v4
        with:
          name: app.jar
          path: backend/target/warehouseapp.jar

  push-to-docker-hub:
    runs-on: ubuntu-latest
    needs: build-backend     # sorgt dafür, dass der vorherige Job abgeschlossen ist

    steps:
      - uses: actions/checkout@v4

      - name: Download Backend Artefakt
        uses: actions/download-artifact@v4
        with:
          name: warehouseapp.jar      # so hast du das Artefakt beim Build benannt
          path: backend/target       # Zielordner für die heruntergeladene app.jar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: $${{secrets.DOCKERHUB_PASSWORD}}
      - name: Build and Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: .                           # verweist auf dein Dockerfile
          push: 'true'                         # damit das Image hochgeladen wird
          tags: ${{secrets.DOCKERHUB_TAG}}     # z.B. "myuser/my-backend:latest"

  deploy:
    name: deploy-to-render
    runs-on: ubuntu-latest
    needs: push-to-docker-hub
    steps:
      - name: Trigger Render.com Deployment
        run: |
          curl -X POST ${{secrets.RENDER_DEPLOY_HOOK}}